td {
  border:1px solid;
  .cell-link {
    // height: 30px;
    // width: 30px;
    height: calc(25vw / var(--grid-size));
    width: calc(25vw / var(--grid-size));
  }
}

.not-tested {
  background-color: #a8dadc;
}

.full {
  background-color: #274c77;
}

.waiting {
  background-color: orange;
}

.missed {
  background-size: cover;
  background-image: linear-gradient(rgba(117, 43, 43, 0.5), rgba(236, 10, 10, 0.3)),
  url("Emoji-red.jpg");
}

.hit {
  background-size: cover;
  background-image: linear-gradient(rgba(4, 55, 18, 0.5), rgba(100, 233, 118, 0.3)),
  url("Emoji-green.jpg");
}
