td {
  border:1px solid;
  border-color: gray;
  .cell-link {
    // height: 30px;
    // width: 30px;
    height: calc(25vw / var(--grid-size));
    width: calc(25vw / var(--grid-size));
  }
}

.not-tested {
  background-color: white;
}

.full {
  position: relative;
  &::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #93775f;
    border-radius: 10px;
  }
}

.waiting {
  // background-color: orange;
  background-size: contain;
  background-image: url("sablier2.png")
}

.missed {
  background-size: cover;
  background-image: url("monsterpixel.png");
}

.hit {
  background-size: cover;
  background-image: url("favicon-32x32.png");
}
