.game-platform {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  width: 100%;
  margin-top: 15px;
  margin: 10px 0 0 0 ;
  padding: 10px;
  .game-table {
    border: 3px solid black;
  }
}

// Small devices (landscape phones, 700px and up)
@media (min-width: 100px) and (max-width: 700px) {
  .game-platform {
    flex-direction:column;
    justify-content:space-around;
  }
}
