.game-platform {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  width: 100%;
  margin: 0;
  padding: 10px;
  .game-table {
    border: 3px solid black;
    margin: 0px;
  }
}

h1 {
  margin: 0px 20px !important;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 0.8rem;;
}
.countings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 15px;
  font-size: 1rem;
}

// Small devices (landscape phones, 700px and up)
@media (min-width: 100px) and (max-width: 700px) {
  .game-platform {
    flex-direction:column;
    justify-content:space-around;
  }
}
