<!-- Modal -->
<div class="modal fade" id="victory_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <% if @grid_current_user == Grid.find_by(game: @game, playing: true) %>
         <h1 class="modal-title" id="staticBackdropLabel">Victory!</h1>
      <% else %>
        <h1 class="modal-title" id="staticBackdropLabel">Game over...</h1>
      <% end %>
        <a href=<%="/users/#{@grid_current_user.user.id}"%> type="button" class="btn-close"></a>
      </div>
      <div class="modal-body">
        <%= cl_image_tag(Grid.find_by(game: @game, playing: true).user.photo.key, class: 'avatar-large') %>
        <h3><%= Grid.find_by(game: @game, playing: true).user.username %> wins the game.</h3>
      </div>
      <div class="modal-footer">
        <%= link_to "Play again!", "/users/#{@grid_current_user.user.id}", class: "btn btn-cta" %>
      </div>
    </div>
  </div>
</div>
