<!-- Modal -->
<div class="modal fade" id="victory_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="staticBackdropLabel"></h1>
      </div>
      <div class="modal-footer py-5">
        <%= link_to "Play again!", "/users/#{@grid_current_user.user.id}", class: "btn btn-cta" %>
      </div>
    </div>
  </div>
</div>
