<% if left_grid.game.ongoing %>
  <div class="messages-top"><%= left_grid.playing ? "Your turn to play, aim wisely" : "Waiting for #{right_grid.user.username} to play" %></div>
<% else  %>
  <div class="messages-top"><%= "The battle is over, play again." %></div>
<% end %>
