<%= render 'shared/navbar' %>

<div class="container">
  <div>
    <h1>Hi <%= current_user.username %></h1>
    <h1>Let's play!</h1>
  </div>
  <div>
    <%= link_to "Create a new game", new_game_path(@game), class: "btn btn-gradient" %>
    <%= link_to "Join existing game", games_path(@game), class: "btn btn-gradient" %>
</div>
<div>
  <div>
    <%# insert Player historic here %>
  </div>
</div>
