<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url('banner.jpg') %>');">
  <div class="b-content">
    <%= image_tag "PaperHero_logo.png", class:"logo" %>
    <h1>Let the paper games begin!</h1>
  </div>
  <div class="container">
    <p>Challenge your friends to an epic paper battle!</p>
    <%= link_to "Play now", user_signed_in? ? "/users/#{current_user.id}" : "users/sign_in", class: "btn btn-cta" %>
  </div>
</div>

<div class="footer">
  <div class="footer-copyright">
    This open-source game was made with <i class="fas fa-heart"></i> by
    <a href="https://github.com/PaperHero853/paper-hero"><i class="fab fa-github"></i></a>
  </div>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-gradient" %>
</div>
