<%= render 'shared/navbar' %>

<div class="container">
  <p>Please choose your game :</p>

    <div class="container-row">
      <div class="cards">
        <% current_user.games.each do |game| %>
          <div class="card">
            <div class="card-info">
              <% grids = Grid.where(game_id: game.id) %>
              <% opponent_grid = grids.first.user_id == current_user.id ? grids.last : grids.first %>
              <% opponent_name = User.find(opponent_grid.user_id).username %>
              <h3><%= link_to "Game vs #{opponent_name}", game_path(game) %></h3>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>