<%= render 'shared/navbar' %>

<div class="container">
  <h1 class="text-dark mt-4">Join a game:</h1>

  <div class="cards">
    <% current_user.games.where(ongoing: true).each do |game| %>
      <div class="card-game">
        <% grids = Grid.where(game_id: game.id) %>
        <% opponent_grid = grids.first.user_id == current_user.id ? grids.last : grids.first %>
        <% opponent_name = User.find(opponent_grid.user_id).username %>
        <h3><strong> <%= "#{opponent_name}" %></strong> challenges you to play</h3>
        <h3 class="card-link"><%= link_to "Join", game_path(game), class: "btn btn-cta", id:"btn-small" %></h3>
      </div>
    <% end %>
  </div>

</div>
