td {
  position: relative;
  .not-tested {
    width: auto;
    height: auto;
  }
}

td.anim-right2::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url('Crumpled-Paper.png') no-repeat 0 0;
  background-size: contain;
  animation:2s throw-right linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  z-index: 1000;
}

td.anim-left2::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url('Crumpled-Paper.png') no-repeat 0 0;
  background-size: contain;
  animation:2s throw-left linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  z-index: 1000;
}

@keyframes throw-right {
  0% {
    right: -100vw;
    top: -20vh;
    transform: rotate(0deg);
  }

  50% {
    width: 1000%;
  }

  100% {
    right: 0;
    top: 0;
    transform: rotate(360deg);
  }

  100% {
    opacity: 0;
  }
}
@keyframes throw-left {
  0% {
    left: -100vw;
    top: -20vh;
    transform: rotate(0deg);
  }

  50% {
    width: 1000%;
  }

  100% {
    left: 0;
    top: 0;
    transform: rotate(360deg);
  }
}
