
.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px !important;
  background: white;
  padding: 8px 16px;
  width: 300px;
  border: 1px solid rgb(235,235,235);
}

.notification {
  flex-grow: 1;
  padding: 10px 24px;
}

input.checked ~ label .notification {
  background: linear-gradient(#ffffff, #eff2f6);
  color: rgb(0, 0, 0) !important;
  box-shadow: 0.4rem 0.4rem 0 black;
  transform: translate(-0.4rem, -0.4rem);
}

.avatar-large > img {
  width: 40px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
  padding-left: 16px;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}
