.navbar-lewagon {
  justify-content: space-between;
  background: rgb(40, 40, 40);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  border-radius: 50%;
}

#user-name {
  color: aliceblue;
}

#navbarDropdown {
  width: 60px;
}
