.navbar-lewagon {
  justify-content: space-between;
  background: rgb(40, 40, 40);
  padding-left: 24px;
  padding-right: 24px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  border-radius: 50%;
}
.login-font {
  color: aliceblue;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
}
#user-name {
  color: aliceblue;
  font-size: 24px;
  font-weight: 500;
}

#navbarDropdown {
  width: 60px;
  cursor: pointer;
}
